@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Audio_Speakers";
}
<h1 style="text-align:center; color:darkgoldenrod;">Audio Speakers</h1>
<h6> Creator: Pratikbhai Lathiya </h6>

<img src="/css/img_1.png">

<h2> Company Info: </h2>
<p>
    Established in 1999, Audio Speakers was one of the first specialist agencies in the world for music, voice and sound strategy.
    As audio enters a new golden age, our purpose remains the same, now augmented by years of experience and expertise.
    We are inspired to tell original stories about sound, servicing brands and agencies all over the world that want to
    use music, voice and sound design to connect with their audiences.
    'The Age of Audio’ please follow our page !
</p>

<img src="~/css/img_2.png">


<h2> Visual Speakers: </h2>
<p>
    There’s nothing better than coming home from a long day at work, sitting on your favorite leather couch, turning on your favorite music, and
    listening to it with a pair of speakers that truly capture the purest audio sounds. The absolute best kinds of loudspeakers master the true treble, 
    mid range, and bass within a music file; in essence, great speakers provides studio quality audio in the comfort of your own home! If you’ve ever 
    asked the question, “What are the best speaker brands available?” or "What are good speaker brands?" before, then you have definitely come to the 
    right place! Here, you'll find a list of different brands of speakers put out by some of the top speaker companies.
    Which of these music system brands produces the highest quality equipment? Browse this list of the biggest speaker companies below to decide.
</p>

<img src="~/css/img_3.png">

<h2> Company Head-Office: </h2>
<p>
    Corporate headquarters is the part of a corporate structure that deals with important tasks such as strategic planning, corporate communications, taxes, law, 
    books of record, marketing, finance, human resources, and information technology.[4][5] Corporate headquarters takes responsibility for the overall success of 
    the corporation and ensures corporate governance.[6] It is sometimes referred to as the head office, which is the location where the executives of a business 
    work and where many of the key business decisions are made. Generally, corporate headquarters acts as a core when the business is operating. 
    The corporate headquarters includes: the CEO (chief executive officer) as a key person and their support staff such as the CEO office and other 
    CEO related functions
</p>

<img src="~/css/img_5.png">

<h2> General Staff: </h2>
<p>
    Some managers love hybrid work and others hate it, but the reality is that it's here to stay. Even before the global pandemic made it a necessity, many 
    companies were already moving toward allowing remote work for some portion of their workforces, if only for a few days per week.
</p>
<img src="~/css/img_4.png">
