@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the World of Speakers !!!</h1>

    <p> Hello! My Name is Pratik Lathiya making this web application for the best company ever "Audio Speakers"</p>
    <img class="pratik"src="~/css/bg_1.png">
    <p> <b>HeadQuerter:</b> <em>Delhi, India</em> </p>
</div>
